In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel('icf.xlsx', skiprows=1)
df.head()

,Unnamed: 0,Unnamed: 1,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00,2024-10-01 00:00:00,2024-11-01 00:00:00,2024-12-01 00:00:00,2017-09-01 00:00:00,dez-24/nov-24,dez-24/dez-23
0,ICF,NaN,113.295876,113.739698,114.313679,112.366585,110.164903,109.280523,107.434921,106.756731,106.714419,105.906766,104.788268,105.472768,108.456140,NaN,0.028286,-0.042718
1,Emprego Atual,NaN,132.544057,134.448390,134.284154,133.528597,134.229675,134.241874,132.582308,130.942523,131.510725,134.552686,133.639474,131.748010,131.468144,NaN,-0.002124,-0.008117
2,Perspectiva Profissional,NaN,125.439286,124.760751,125.003826,122.002320,119.288064,115.741343,110.584594,109.592361,111.301049,114.245865,115.943435,116.648153,119.660303,NaN,0.025823,-0.046070
3,Renda Atual,NaN,136.250354,138.095547,138.674632,137.825231,136.214704,136.355487,139.435907,140.731895,140.704380,141.111701,139.293854,139.361752,141.050746,NaN,0.012119,0.035232
4,Acesso ao Crédito,NaN,104.815746,103.941075,105.587291,104.555811,101.786166,101.947598,98.993910,98.216843,98.714253,95.994181,95.446499,97.969677,98.983154,NaN,0.010345,-0.055646

In [7]:
df = df.dropna(how='all')
df = df.drop(df.index[-1])
del df['Unnamed: 1']

KeyError: 'Unnamed: 1'

In [8]:
df.rename(columns={"Unnamed: 0": "ÍNDICES E SEGMENTAÇÕES"}, inplace=True)

In [9]:
df

,ÍNDICES E SEGMENTAÇÕES,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00,2024-10-01 00:00:00,2024-11-01 00:00:00,2024-12-01 00:00:00,2017-09-01 00:00:00,dez-24/nov-24,dez-24/dez-23
0,ICF,113.295876,113.739698,114.313679,112.366585,110.164903,109.280523,107.434921,106.756731,106.714419,105.906766,104.788268,105.472768,108.456140,NaN,0.028286,-0.042718
1,Emprego Atual,132.544057,134.448390,134.284154,133.528597,134.229675,134.241874,132.582308,130.942523,131.510725,134.552686,133.639474,131.748010,131.468144,NaN,-0.002124,-0.008117
2,Perspectiva Profissional,125.439286,124.760751,125.003826,122.002320,119.288064,115.741343,110.584594,109.592361,111.301049,114.245865,115.943435,116.648153,119.660303,NaN,0.025823,-0.046070
3,Renda Atual,136.250354,138.095547,138.674632,137.825231,136.214704,136.355487,139.435907,140.731895,140.704380,141.111701,139.293854,139.361752,141.050746,NaN,0.012119,0.035232
4,Acesso ao Crédito,104.815746,103.941075,105.587291,104.555811,101.786166,101.947598,98.993910,98.216843,98.714253,95.994181,95.446499,97.969677,98.983154,NaN,0.010345,-0.055646
5,Nível de Consumo Atual,93.994335,95.385276,95.557960,92.473900,91.131794,91.178697,89.543566,87.503053,85.051592,81.655300,78.841128,79.283746,83.533695,NaN,0.053604,-0.111290

In [10]:
df.columns = [col.strftime('%m/%Y') if isinstance(col, datetime) else col for col in df.columns]
df

,ÍNDICES E SEGMENTAÇÕES,12/2023,01/2024,02/2024,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024,09/2017,dez-24/nov-24,dez-24/dez-23
0,ICF,113.295876,113.739698,114.313679,112.366585,110.164903,109.280523,107.434921,106.756731,106.714419,105.906766,104.788268,105.472768,108.456140,NaN,0.028286,-0.042718
1,Emprego Atual,132.544057,134.448390,134.284154,133.528597,134.229675,134.241874,132.582308,130.942523,131.510725,134.552686,133.639474,131.748010,131.468144,NaN,-0.002124,-0.008117
2,Perspectiva Profissional,125.439286,124.760751,125.003826,122.002320,119.288064,115.741343,110.584594,109.592361,111.301049,114.245865,115.943435,116.648153,119.660303,NaN,0.025823,-0.046070
3,Renda Atual,136.250354,138.095547,138.674632,137.825231,136.214704,136.355487,139.435907,140.731895,140.704380,141.111701,139.293854,139.361752,141.050746,NaN,0.012119,0.035232
4,Acesso ao Crédito,104.815746,103.941075,105.587291,104.555811,101.786166,101.947598,98.993910,98.216843,98.714253,95.994181,95.446499,97.969677,98.983154,NaN,0.010345,-0.055646
5,Nível de Consumo Atual,93.994335,95.385276,95.557960,92.473900,91.131794,91.178697,89.543566,87.503053,85.051592,81.655300,78.841128,79.283746,83.533695,NaN,0.053604,-0.111290